@model ProjetoMVC_DIO.Models.Contato

@{
    ViewData["Title"] = "Deletar Contato";
}

<h1 class="text-center text-danger">Deletar Contato</h1>

<p class="text-center">Você tem certeza que deseja excluir o contato <strong>@Model.Nome</strong>?</p>


<div class="text-center">
    <p><strong>Telefone:</strong> @Model.Telefone</p>
    <p><strong>Status:</strong> @(Model.Ativo ? "Ativo" : "Inativo")</p>
</div>

<form asp-action="Deletar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group d-flex justify-content-between mt-4">
        <input type="submit" value="Deletar" class="btn btn-lg btn-danger text-light w-48 shadow-lg hover-shadow" />
        <a asp-action="Index" class="btn btn-lg btn-outline-light text-light w-48 shadow-lg hover-shadow">Cancelar</a>
    </div>
</form>
