@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #9c27b0; padding: 50px 0; border-radius: 10px;">
    <h1 class="display-4 text-light" style="font-family: 'Arial', sans-serif;">Seja Bem Vindo</h1>
    <p class="lead text-light" style="font-size: 1.25rem;">Use os menus acima para navegar!</p>
</div>

<style>
    body {
        background-color: #5e35b1;
        font-family: 'Arial', sans-serif;
    }

    .text-center {
        background-color: #9c27b0;
        padding: 50px 0;
        border-radius: 10px;
    }

    h1.display-4 {
        color: #f1f1f1;
        font-family: 'Arial', sans-serif;
    }

    p.lead {
        font-size: 1.25rem;
        color: #f1f1f1;
    }

    .text-center h1, .text-center p {
        transition: transform 0.3s ease;
    }

    .text-center:hover h1 {
        transform: scale(1.1);
    }

    .text-center:hover p {
        transform: scale(1.05);
    }
</style>
