@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="background-color: #8e24aa; padding: 50px 0; border-radius: 10px;">
    <h1 class="display-4 text-light" style="font-family: 'Arial', sans-serif;">@ViewData["Title"]</h1>
    <p class="lead text-light" style="font-size: 1.25rem;"></p>
</div>

<style>
    body {
        background-color: #5e35b1;
    }

    .text-center {
        background-color: #8e24aa;
        padding: 50px 0;
        border-radius: 10px;
    }

    h1.display-4 {
        color: #f1f1f1;
        font-family: 'Arial', sans-serif;
    }

    p.lead {
        font-size: 1.25rem;
        color: #f1f1f1;
    }
</style>
